Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
characters.rtf
MyProject.zip
Content/Fantastic_Village_Pack/maps/*
Content/Fantastic_Village_Pack/maps/
Content/FantasyBundle/Maps/*
Content/Modular_MedievalTown_WI/Maps/*
Content/Modular_MedievalTown_WI/*